/* elementtiin liittyvä tyyli*/
body {
    background-color: rgb(166, 247, 222);
    width: 90%;
    margin: 0 auto;
}

.navi{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

img{
    max-width: 50%;
    height: 50px;
}

.gallery-item img{
    max-width: 100%;
    height: auto;
    border: 2px solid black;
}